@charset "UTF-8";

$main-color: rgba(0,0,0,0.5);
$accent-color: #BF6A7A;
$dark-main-color: #2B5566;
$text-bright-color: #fff;
$icon-bk-color: #ddd;
$icon-color: #fff;
$large-width: 1500px;
$basic-background-color: rgba(255,255,255,0.2);
$basic-border-color: rgba(200,200,200,0.8);

$mq-small: 576;
$mq-medium: 768;
$mq-large: 992;
$mq-exlarge: 1200;

